<p id="notice"><%= notice %></p>

<div class="col-md-4">
  <div class="box box-primary">
    <div class="box-header">
    <h3 class="box-title">Window Request</h3>
    </div>
    <div class="box-body">
    </div>
  </div>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
<h1>Messages</h1>

<div class="message-wr">
  <%= render 'messages' %>
  <%= render 'message_form' %>
</div>
</div>
