@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #d2d6de; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #d2d6de, #d2d6de);
  background: -moz-linear-gradient(right, #d2d6de, #d2d6de);
  background: -o-linear-gradient(right, #d2d6de, #d2d6de);
  background: linear-gradient(to left, #d2d6de, #d2d6de);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
